body,header,nav,div,h1,h2,h3,h4,h5,h6,p,span,a,li
{
	font-family: Helvetica, Arial, 'LiHei Pro', '微軟正黑體', sans-serif;
}
body
{
	max-width: 1080px;
	min-width: 800px;
	margin: 0px auto;
	padding-top: 70px;
}
header a:hover
{
	text-decoration: none;
}
.navbar-text
{
	font-size: 11pt;
}
.navbar-brand
{
	font-size:15pt;
}
